@import url("reset.css");
@import url("header.css");
@import url("footer.css");
@import url("main.css");

.main{
    width: 440px;
    min-height: 390px;
    margin: 40px auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.main-heading{
    color: #000;
    font-family: 'Itim';
    font-size: 25px;
}
.main-form{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
}
.main-form-block{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 15px;
    align-items: center;
}
.main-form-block-label{
    color: #000;
    font-family: 'Itim';
    font-size: 25px;
    margin-right: 25px;
}
.main-form-block-input{
    width: 302px;
    height: 40px;
    border-radius: 15px;
    background-color: #EDEBEB;
    padding: 8px 17px;
    font-size: 20px;
    font-family: 'Itim';
    border: none;
    color: black;
}
.main-form-submit-block{
    margin-top: 28px;
    width: 265px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.main-form-submit-block-button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #DCFDFF;
    color: black;
    font-family: 'Itim';
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.5s background-color;
}
.main-form-submit-block-button:hover{
    color: #FFFFFF;
    background-color: rgb(8, 8, 135);
    cursor: pointer;
}
.main-form-submit-block-span{
    color: #9F9D9D;
    font-family: 'Itim';
    font-size: 13px;
    margin-left: 15px;
}
.main-form-submit-block-span-link{
    color: black;
}