.footer {
    background-color: #2c3e50;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #1abc9c;
    width: 100%;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10.5rem;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer-list-item-image {
    height: 60px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 8px;
}

.footer-list-item-image:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}