@import url("reset.css");
@import url("header.css");
@import url("footer.css");
@import url("main.css");

.user-main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-main-image{
    width: 300px;
    height: 300px;
}
.user-main-text{
    width: 785px;
    height: fit-content;
    color: #000;
    font-family: 'Itim';
    font-size: 20px;
}
.admin-header-logo-block{
    width: 350px;
}
.main{
    width: 100%;
    min-height: 390px;
    margin: 40px 0;
}
.main-heading{
    width: fit-content;
    color: #000;
    font-family: 'Itim';
    font-size: 30px;
    margin: 0 auto;
}
.info-block-buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.edit-button, .delete-button {
    width: 120px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Itim';
    cursor: pointer;
    border: none;
    transition: 0.5s background-color;
}
.edit-button{
    background-color: #52c248;
    align-self: start;
}
.delete-button{
    background-color: #F00;
    align-self: end;
}
.edit-button:hover{
    background-color: #284f0a;
    color: white;
    text-decoration: underline;
}
.delete-button:hover{
    background-color: #850000;
    color: white;
    text-decoration: underline;
}
