body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}